{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Contact Info{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="contact-info">
    <p><strong>Eric Rying</strong></p>
    <p>email: <a href="mailto:erying1@jh.edu">erying1@jh.edu</a></p>
    <p>GitHub: <a href="https://github.com/erying1" target="_blank">github.com/erying1</a></p>
    <p><strong>LinkedIn:</strong> 
       <a href="https://www.linkedin.com/in/eric-rying-aa08291" 
          target="_blank" 
          rel="noreferrer">View Eric's Profile</a>
    </p>
  </div>
{% endblock content %}